pyrogram==2.0.106
TgCrypto
py-tgcalls==2.2.11
ntgcalls==2.2.5
python-dotenv
youtube_dl
youtube_search_python
requests
aiohttp
aiofiles
youtube_search
search_engine_parser
Pillow
python-arq
future
psutil
wget
